#body{
    margin: 0;
    padding: 0;
}
.slider{
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 80px;
}
.logo{
    height: 10%;
    width: 40%;
}
.appstore{
    height: 100%;
    width: 35%;
}
.phone{
    height: auto;
    width: 100%;
}
.background{
    background-color: #fbee01;
}
.sb-logo{
    margin: 10px;
    height: 60px;
}
.about{
    padding-top: 150px;
    padding-bottom: 100px;
}
.social-icons{
    height: 50;
}