#body{
    margin: 0;
    padding: 0;
}
.slider{
    position: relative;
    height: auto;
    width: 100%;
}
.logo{
    height: 10%;
    width: 40%;
}
.appstore{
    height: 100%;
    width: 35%;
}
.phone{
    height: auto;
    width: 100%;
}

