#body{
    margin: 0;
    padding: 0;
}
.slider{
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 80px;
}
.logo{
    height: 10%;
    width: 40%;
}
.appstore{
    height: 100%;
    width: 35%;
}
.phone{
    height: auto;
    width: 100%;
}
.background{
    background-color: #fbee01;
}
.sb-logo{
    margin: 10px;
    height: 60px;
}
.about{
    padding-top: 150px;
    padding-bottom: 100px;
}
.social-icons{
    height: 50;
}
.hover-zoomin a {
      display: block;
      position: relative;
      overflow: hidden;
    }
    .hover-zoomin img {
      width: 100%;
      height: auto;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      -ms-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
    }
    .hover-zoomin:hover img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -o-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2);
    }